div align{
    border: 2px solid black;
    height: 300px;
    width: 300px;
    background-image: url("photo.jpg");
    background-size: 100% 100%;
}
div:hover{
    background-image: url("cat-.webp");
  background-repeat: no-repeat;
    background-size: cover;
}
